@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  font-size: 18px;
  /* background-color: #292929; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}


/* HELPERS */

.page {
  padding: 30px 0;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.container-fluid {
  width: 100%;
  padding: 15px;
}

h1 {
  font-weight: 100;
  margin-bottom: 40px;
}

.loadMore {
  text-align: center;
}

.loadMore button {
  border: 0;
  background-color: #2B3074;
  color: white;
  padding: 15px 15px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  max-width: 200px;
}

.loadMore button[disabled] {
  cursor: auto;
  background-color: #978FC6;
}



/* sets */

.setsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
  gap: 40px;
  margin-bottom: 50px;
}

.set {
  text-align: center;
}

.setsImage {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 180px;
  margin-bottom: 15px;
}

.setsImage img {
  width: 60%;
  object-fit: cover;
}

.setName p {
  margin: 0;
  color: #2B3074;
  display: inline-block;
  border-radius: 30px;
  padding: 10px 15px;
  font-size: 1rem;
  font-weight: 600;
}